<p style="color: green"><%= notice %></p>

<div class="container">

<%= button_to new_record_path, method: :get, class: "btn btn-outline-primary float-end" do %>
  <i class="bi-plus-lg"></i> New Record
<% end %>

<h2>All Records</h2>

  <div class="row records-grid mx-auto" id="records">
    <% @records.each do |record| %>
      <div class="col-md-4 record">
        <a href="<%= url_for record %>">
          <img class="" src="<%= record.image_url %>" alt="Album image">
        </a>
      </div>
    <% end %>
  </div>
</div>